ul { list-style: none; }

.placeholder {
	border: 1px solid green;
	height: 5px;
}

.dragged {
	border: 1px solid #0f0;
	background-color: rgba(230, 255, 230, 0.5);
}

ul#flight-case {
	padding-left: 0;
}

ul#flight-case > li { cursor: pointer; }

ul#flight-case > li {
	margin: 10px 0;
}

.handle-shift,
.handle {
	margin-right: 10px;
}

.handle-shiftbot {
	margin-bottom: 30px;
}

.flight.source {
	border: 2px solid #060;
}

.flight.new {
	border: 1px dashed #00F;
}

.flight-nohandle,
.flight {
	width: 500px;
	padding-left: 0;
}

.flight li {
	padding: 2px 2px 2px 8px;
}

.exempted {
	width: 500px;
	padding-left: 0;
}

.exempted li {
	padding: 2px 2px 2px 8px;
}

.bench-info {
	background-color: #eee;
	font-size: larger;
	margin-bottom: 4px;
	padding-left: 4px;
}

.flight-info {
	background-color: #eee;
	font-size: smaller;
}

.flight-full {
	border: 1px solid #0d0;
}

.flight-error {
	border: 2px solid #f00;
}
