.competition {
	list-style-type: none;
	padding: 0;
}
.match-party {
	display: inline-block;
	width: 30%;
	margin: 4px;
}
.highlight {
	display: inline-block;
	width: 30%;
	border: 1px solid green;
	height: 24px;
}
.match-ok {
	border: 1px solid #0d0;
}

.match-error {
	border: 2px solid #f00;
}
li.match {
	margin: 10px;
	width: 800px;
}
.match-handle {
	margin-left: 4px;
	margin-right: 10px;
}
