/*  Golf Turbo
 *
 *    Scoreboard/Leaderboard
 */

/* general */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/*	SCOREBOARD TABLE
 *
 */
/* table & global */
table.scoreboard {
	border-spacing: 0px;
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse:collapse;
}

table.scoreboard th,
table.scoreboard td {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	border: 1px solid lightgrey;
	padding: 0 2px;
	min-width: 1.2em;
}

table.scoreboard tr.odd {
	background-color: #fcfcfc;
}

/* table caption */
table.scoreboard .percent {
	font-size: xx-small;
}
table.scoreboard .score-type {
	font-size: xx-small;
	display: none;
}
table.scoreboard .course-name {
	font-weight: bold;
}
table.scoreboard .competition-date {
	font-style: italic;
	font-size: smaller;
}

/* table header */
table.scoreboard th {
	font-weight: bold;
}
table.scoreboard th.round {
	color: darkblue;
}
table.scoreboard th.total {
	color: black;
}

/* table header line labels */
table.scoreboard .par td:nth-child(1),
table.scoreboard .si  td:nth-child(1),
table.scoreboard .length td:nth-child(1) {
	text-align: right;
	padding: 0 4px;
}

table.scoreboard th.label,
table.scoreboard td.label {
	text-align: left;
}

table.scoreboard th.labelr,
table.scoreboard td.labelr {
	text-align: right;
}

/* table footer */
table.scoreboard tr.last-updated td {
	padding-right: 10px;
	text-align: right;
	color: lightgrey;
	font-size: x-small;
	font-style: italic;
}
table.scoreboard .notice {
	text-align: center;
}

/* table data */

/*position*/
table.scoreboard > tbody > tr.player-score td:nth-child(1) {
	font-weight: bold;
}
/*name*/
table.scoreboard > tbody > tr.player-score td:nth-child(2) {
	text-align: left;
	padding: 0 4px;
}
/*totals*/
table.scoreboard tbody tr.player-score td:last-child, 
.total {
	font-weight: bold;
}

/*score*/
table.scoreboard td.score {
	/*border: 4px solid darkgreen;*/
	color: #666;
}
table.scoreboard td.round {
	color: darkblue;
	font-size: 18px;
}
table.scoreboard td.total {
	color: black;
	font-size: 18px;
}
table.scoreboard .red {
	color: red;
}
table.scoreboard th {
	color: #888;
}
/* SPLITFLAP */
table.scoreboard-splitflap tr.player-score td {
	min-width: 1.5em;
}
table.scoreboard-splitflap.scoreboard-nine tr.player-score td {
	min-width: 1.7em;
}

table.scoreboard-splitflap td.name {
	border: 2px solid darkgreen;
	color: black;
}
table.scoreboard-splitflap td.round {
	border: 2px solid darkblue;
}
table.scoreboard-splitflap td.total {
	border: 2px solid black;
}
table.scoreboard-splitflap td.name,
table.scoreboard-splitflap td.round,
table.scoreboard-splitflap td.total {
	font-weight: normal;
	font-size: 20px!important;
}

	
div.digit { /* note: digit_bg is 20x30px */
	font-family: 'Oswald';
/*	font-weight: bold;*/
	display: inline-block;
	width:20px;
	height:30px;
	text-align:center;
	background:url(digit_bg.png) no-repeat;
	margin: 0px;
	line-height:31px;
	border-radius:2px;
	font-size:1.2em;
	padding: 0px;
	max-width:20px;
}


/*	PLAYER CARDS TABLE
 *
 */
div.gt_card,
tr.gt_cards {
	display: none;
}

/* begin css tabs */
ul.gt_tabs { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
border-bottom: 1px solid #666; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul.gt_tabs li { /* do not change */
display: inline-block;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

ul.gt_tabs a.current { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul.gt_tabs li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #666; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #ddd; /* set unselected tab background color as desired */
color: #666!important; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul.gt_tabs a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}
/* end css tabs */
	

/* tabs
ul.gt_tabs li {
	display: inline-block;
	padding: 4px;
}
ul.gt_tabs li a:hover {
	text-decoration: underline;
}

ul.gt_tabs a.current {
	text-decoration: underline;
}
*/

.closebox {
	float: right;
	padding: 4px;
	font-size: x-small;
}

/* player cards tables */
table.golfer_card {
	margin: 10px auto;
}

table.stats td.label:first-child,
table.summary td.label:first-child,
table.round_detail td.label:first-child {
	text-align: left;
}

table.round_detail tbody tr.player-error td {
	text-align: center;
}

/*
 *
 */
.widget table.scoreboard  .total {
	color: #999;
}
.widget table.scoreboard th,
.widget table.scoreboard td,
.widget table.scoreboard {
	border-color: #888;
}

tr.golfleague-match-1 {
	border-bottom-style: double;
}